<div class="block block2">
  <div class="container">

    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-sm-12">

        <div class="small-hero clearfix visible-md visible-lg">
          <div class="left">
            <a href="http://www.soulcamping.com.au" target="_blank"><img class="soul" src="/img/soulCampingLogo.png"></a>
            <img src="/img/home_page/glamping.jpg">
          </div>
          <div class="right">
            <h3>Glamping with Uproute!</h3>
            <br class="visible-lg"/>
            <p>Share your next trip on Uproute for a chance to win a luxury glamping weekend in Margaret River!</p>
            <br class="visible-lg"/>
            <div class="text-center">
              <a href="/shareyourtrip/" class="btn btn-special less-margin">Share Your Trip!</a>
            </div>
          </div>
        </div>

        <div class="small-hero clearfix hidden-md hidden-lg text-center">
          <img src="/img/home_page/glamping.jpg">
          <img class="soul" src="/img/soulCampingLogo.png">
          <div class="visible-sm" style="height: 30px;"></div><!-- forgive me... -->
          <h3>Go Glamping with Uproute!</h3>
          <p>Share your next trip on Uproute for a chance to win a glamping weekend in Margaret River!</p>
          <a href="/shareyourtrip/" class="btn btn-special">Learn More</a>
          <br />
        </div>

      </div>
    </div>

  </div>
</div>
