---
layout: default
---

{% assign post = page %}

{% include tags-content.html %}

<div class="feature-image" style="background-image: url('/img/{{ page.image }}'); {% if page.align %}background-position: top;{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-md-12 post-header">
        <h1>{{ page.title }}</h1>
        <p class="subtitle subtle">Shared by <a href="/blog/author/{{ page.author-username }}/">{{ page.author }}</a> on {{ page.date | date: "%b %-d, %Y" }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 post-details">
      <p class="subtitle subtle">Posted by <a href="/blog/author/{{ page.author-username }}/">{{ page.author }}</a> on {{ page.date | date: "%b %-d, %Y" }}</p>
      {% include addtolist.html %} {% include heart-alt.html %}

      <dl>
        <dt>Category</dt>
        <dd><a href="/blog/category/{{ post.categories }}/">{{ post.category-name }}</a></dd>
        <dt>Type of Trip</dt>
        <dd>{{ tags_content }}</dd>
        <dt>Origin</dt>
        <dd>{{ page.origin }}</dd>
        <dt>Destination</dt>
        <dd>{{ page.destination }}</dd>
        <dt>Main mode of transport</dt>
        <dd>{{ page.transport }}</dd>
        <dt>Duration</dt>
        <dd>{{ page.duration }}</dd>
        <dt>Cost per person</dt>
        <dd>{{ page.cost }}</dd>
        <dt>Accommodation</dt>
        <dd>{{ page.accommodation }}</dd>
      </dl>

      <dl>
        <dt>Rate the overall trip</dt>
        <dd>{{ page.rateoverall }}/10</dd>
        <dt>Quality of activities</dt>
        <dd>{{ page.rateactivity }}/10</dd>
        <dt>Ease of logistics</dt>
        <dd>{{ page.ratelogistics }}/10</dd>
        <dt>Value for money</dt>
        <dd>{{ page.ratevalue }}/10</dd>
      </dl>

    </div>
    <div class="col-md-8">
      <article class="post-content">
        {{ content }}

        <hr />

        <div class="panel panel-default">
          <div class="panel-body text-center">
            <br />
            <p class="lead">Want to share your latest trip on Uproute?!</p>
            <br />
            <a href="/submit/" class="btn btn-special-inverse less-margin">Share Your Trip</a>
          </div>
        </div>

      </article>
    </div>
  </div>
</div>
