---
layout: default
---

<!-- ==========================

Use this layout if you want to
use bootstrap on the target page

============================-->

{% if page.title == "About" %}
  <div class="page-hero page-hero-about">
    <h1>{{ page.image-overlay }}</h1>
  </div>
{% endif %}

{% if page.title == "Contact" %}
  <div class="page-hero page-hero-contact">
    <h1>{{ page.image-overlay }}</h1>
  </div>
{% endif %}

{% if page.title == "Share Your Trip" %}
  <div class="page-hero page-hero-submit">
    <h1>{{ page.image-overlay }}</h1>
  </div>
{% endif %}

{% if page.title == "Itineraries" %}
  <div class="page-hero page-hero-itineraries">
    <h1>{{ page.image-overlay }}</h1>
  </div>
{% endif %}

{% if page.title == "Four Oh Four!" %}
  <div class="page-hero page-hero-404">
    <h1>{{ page.image-overlay }}</h1>
  </div>
{% endif %}


{{ content }}
