<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="staff">

    <div class="container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">

          <p>You are here: <a href="/">Uproute.co</a> > <a href="/staff/">Staff</a> > {{ page.title }}</p>

          <hr />

          {{ content }}

          <hr />

          <p>Where from here?</p>

        </div>
      </div>
    </div>



  </body>

  <script src="/js/jquery-2.2.2.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/typed.js"></script>
  <script src="/js/scripts.js"></script>

</html>
